/* 변수 */
@ColumWidth: 60px;
@GutterWidth: 20px;

/* 믹스인 */
.grid(@column) {
  width: (@ColumnWidth * @column) + (@GutterWidth * (@coulmn - 1));
}

/* 스타일 사용 */
.grid-container {
  width: 960px;
  margin: 0 auto;
}
.row {
  overflow: hidden;
}
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}
.grid_1 {
  .grid(1);
}
.grid_2 {
  .grid(2);
}
.grid_3 {
  .grid(3);
}
.grid_4 {
  .grid(4);
}
.grid_5 {
  .grid(5);
}
.grid_6 {
  .grid(6);
}
.grid_7 {
  .grid(7);
}
.grid_8 {
  .grid(8);
}
.grid_9 {
  .grid(9);
}
.grid_10 {
  .grid(10);
}
.grid_11 {
  .grid(11);
}
.grid_12 {
  .grid(12);
}
